.text-edit {
	outline: 0;
	white-space: pre-wrap;
	padding-top: 3px;
	padding-bottom: 4px;
}

.code-edit {
	outline: 0;
	padding: 5px;
	font-family: monospace;
	background-color: rgba(0, 0, 0, 0.03);
	white-space: pre-wrap;
	tab-size: 4;
}

.element.selected .code-edit {
	background-color: transparent;
}

.element {
	margin: 0;
	padding: 0;
	height: auto;
}

.element.dragging {
	display: none;
}

.element-spacer {
	margin: 0;
	padding: 0;
	height: 0px;
    -webkit-transition: height 0.08s; /* Safari */
    transition: height 0.08s;
    transition-timing-function: linear;
}

.element-spacer.expanded {
	height: 25px;
	-webkit-transition: height 0.08s; /* Safari */
    transition: height 0.08s;
	transition-timing-function: linear;
}

.element-box {
	margin: 0;
	border-radius: 6px;
	padding: 6px;
	position: relative;
}

.element.selected .element-box {
	background-color: white;
}

.element.selected .element .element-box {
	background-color: transparent;
}

.element-box-handle {
	position: absolute;
	width: 100%;
	cursor: grab;
	top: 0;
	left: 0;
	border-radius: 6px;
	display: none;
	height: 0;
}

.element.selected .element-box-handle {
	display: block;
	height: 100%;
	border: 1px solid #DDD;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.03);
}

.element.selected .element-box-handle:active {
	cursor: grabbing;
}

.element-box-content {
	position: relative;
	margin: 0;
	padding: 0;
	cursor: auto;
}

.page {
	display: flex;
}

.page-sidebar {
	margin-top: 0px;
	overflow: hidden;
	padding: 1px;
}

.page-sidebar-line {
	border-left: 1px solid #BBB;
	height: 100%;
	margin-left: 12px;
}

.page-header {
	font-weight: bold;
	margin-top: 3px;
	margin-left: 5px;
}

.page-header a {
	color: black;
}

.page-header-rule {
	margin-top: 12px;
	max-width: 500px;
	border-top: 1px solid #BBB;
}

.page-body {
	flex: 1;
}

.page-body-content {
	position: relative;
	top: -6px;
}

.element .file-content {
	display: inline-block;
	border: 1px solid #DDD;
	border-radius:3px;
	padding: 3px;
	padding-bottom: 4px;
}

.element.selected .file-content {
	border: none;
	padding: 4px;
	padding-bottom: 5px;
}

.file-content .bp3-icon {
	opacity: 0.7;
	position: relative;
	top: 3px;
	margin-left: 0px;
	margin-right: 5px;
}

.page-header a:hover {
	color: #106ba3;
}

#page-elements .page-body .append-button {
	margin-top: 3px;
}
