.text-edit {
	outline: 0;
	white-space: pre-wrap;
}

.code-edit {
	outline: 0;
	padding: 5px;
	position: relative;
	left: -3px;
	font-family: monospace;
	background-color: #F0F0F0;
	white-space: pre-wrap;
	tab-size: 4;
}

.element-content.selected .code-edit {
	background-color: transparent;
}

.element {
	overflow: visible;
	margin: 0;
	padding: 0;
}

.element.dragging {
	display: none;
}

.element-spacer {
	margin: 0;
	padding: 0;
	height: 0px;
    -webkit-transition: height 0.08s; /* Safari */
    transition: height 0.08s;
    transition-timing-function: linear;
}
.element-spacer.expanded {
	height: 25px;
	-webkit-transition: height 0.08s; /* Safari */
    transition: height 0.08s;
	transition-timing-function: linear;
}

.element-handle {
	margin: 0;
	padding: 6px;
	border-radius: 5px;
}

.element-handle.selected {
	background-color: white;
	padding: 5px;
	border: 1px solid #DDD;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.05);
}

.element-handle.selected:hover {
	cursor: grab;
}

.element-handle.selected:active {
	background-color: #DDD;
	cursor: grabbing;
}

.element-content {
	margin: 0;
	padding: 0;
	cursor: auto;
}

.element-content.selected {
	background-color: white;
}

.page {
	display: flex;
}

.page-sidebar {
	margin-top: 0px;
	overflow: hidden;
}

.page-sidebar-line {
	border-left: 1px solid #BBB;
	height: 100%;
	margin-left: 11px;
}

.page-header {
	font-weight: bold;
	margin-top: 3px;
	margin-left: 5px;
}

.page-header a {
	color: black;
}

.page-header-rule {
	margin-top: 12px;
	max-width: 500px;
	border-top: 1px solid #BBB;
}

.page-body {
	flex: 1;
}

.page-body-content {
	position: relative;
	top: -3px;
}

.file-content {
	display: inline-block;
	border: 1px solid #DDD;
	border-radius:3px;
	padding: 3px;
	padding-bottom: 4px;
}

.element-content.selected .file-content {
	border: none;
	padding: 4px;
	padding-bottom: 5px;
}

.element .bp3-icon {
	opacity: 0.7;
	position: relative;
	top: 3px;
	margin-left: 0px;
	margin-right: 5px;
}

.page-header a:hover {
	color: #106ba3;
}