html {
	overflow-y: scroll;
}

textarea {
	width: 100%;
	margin: 0px;
	box-sizing: border-box;
	vertical-align: top;
	background: transparent;
	font: inherit;
	border: 0;
}

.text-edit {
	outline: 0;
}

.code-edit {
	outline: 0;
	font-family: monospace;
	background-color: #F0F0F0;
}

.element-content.selected .code-edit {
	background-color: transparent;
}

button {
	outline: 0;
}

button:focus {
	outline:0;
}

img {
	max-width:100%;
	max-height:100%;
}

div {
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 2px 0;
}

html, body, #root, #scene {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
}

#page {
	min-height: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
	padding-left: 12px;
	overflow: auto;
	border-left: 2px solid #BBB;
}

#inspector {
    z-index: 1;
    top: 0;
    overflow-x: hidden;
	pointer-events: none;
	position: fixed;
	display: flex;
	align-items: top;
	justify-content: flex-end;
	width: 300px;
}

.inspector-hidden {
	right: -300px; /* 0 width - change this with JavaScript */
}

.inspector-visible {
	transition: 0.2s;
	right: 0
}

.inspector-content {
	pointer-events: all;
	max-width: 278px;
	background-color: #DDD;
	border: 1px solid #BBB;
	margin-right: 10px;
	padding: 3px;
	overflow: hidden;
	border-radius: 6px;
}

#top-spacer {
	min-height: 10px;
}

#bottom-spacer {
	min-height: 50px;
}

.element {
	overflow: auto;
	margin: 0;
	padding: 0;
}

.element-spacer {
	margin: 0;
	padding: 0;
	height: 0px;
}

.element-handle {
	margin: 0;
	padding: 1px;
	height: 10px;
}

.element-handle.selected {
	border: 1px solid #BBB;
	border-bottom: 0px;
	background-color: #DDD;
}

.element-content {
	margin: 0;
	padding: 1px;
}

.element-content.selected {
	background-color: white;
	margin: 0;
	padding: 0;
	border: 1px solid #BBB;
}

.page {
	display: flex;
}

.page-sidebar {
	margin-top: 10px;
	overflow: hidden;
}

.page-sidebar-line {
	border-left: 1px solid #BBB;
	height: 100%;
	margin-left: 11px;
}

.page-header-rule {
	margin-top: 22px;
	border-top: 1px solid #BBB;
}

.page-body {
	flex: 1;
}

.info-content {
	padding: 5px;
}