body, html {
	height:100%
}

div {
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}

#root {
	font-family: "Roboto Slab";
	font-size: 15px;
	height: 100%;
}

.title, header, h1, h2, h3, h4, h5, h6, button {
	font-family: "Roboto";
}

#app {
	min-height: 100%;
}

#app div {
	overflow: auto;
}

#toolbar {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0px;
	background-color: white;
	padding: 5px;
	font-family: 'Roboto';
	height: 40px;
}

span.script-text {
	font-family: "Roboto Mono";
	font-size: 14px;
	white-space: pre-wrap;
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
}

div.element.selected {
	background-color: black;
	color: white;
	cursor: grab;
}

div.selected div {
	border-color: white;
}

div.element-content {
	margin: 5px;
	cursor: initial;
}

button {
}

button:focus { 
    outline: none; 
}

button::-moz-focus-inner {
	border: 0;
}
