html {
	overflow-y: scroll;
}

textarea {
	width: 100%;
	margin: 0px;
	box-sizing: border-box;
	vertical-align: top;
	background: transparent;
	font: inherit;
	border: 0;
}

.text-edit {
	outline: 0;
}

.code-edit {
	outline: 0;
	font-family: monospace;
	background-color: #F0F0F0;
}

.element-content.selected .code-edit {
	background-color: transparent;
}

button {
	outline: 0;
}

button:focus {
	outline:0;
}

img {
	max-width:100%;
	max-height:100%;
}

div {
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 2px 0;
}

html, body, #root {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
}

#scene {
	min-height: 100%;
	display: flex;
	flex-direction: row;
}

#left-column {
	min-width: 50px;
}

#center-column {
	flex: 1;
}

#right-column {
	min-width: 50px;
}

#sidepanel-outer {
	height: 100%;
}

.sidepanel-outer-hidden {
	width: 50px;
	transition: 0.3s;
}

.sidepanel-outer-visible {
	width: 300px;
	transition: 0.3s;
}

#sidepanel-button {
	position: fixed;
    width:50px;
	height:50px;
	top: 50%;
	margin-top: -50px;
}

.sidepanel-button-hidden {
	left: 0px;
	transition: 0.3s;
}

.sidepanel-button-visible {
	left: 250px;
	transition: 0.3s;
}

#sidepanel-inner {
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	position: fixed;
	width: 250px;
	height: 100%;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.sidepanel-inner-hidden {
	left: -300px;
	transition: 0.3s;
}

.sidepanel-inner-visible {
	left: 0px;
	transition: 0.3s;
}

#sidepanel-content {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.sidepanel-tab-buttons {
	margin-left: 4px;
	margin-bottom: 10px;
}

.sidepanel-tab-buttons div {
	outline: 0;
}

.sidepanel-tab-buttons div:focus {
	outline:0;
}

.sidepanel-tab-content {
	background-color: #EAEAEA;
	border: 1px solid #BBB;
	border-radius: 6px;
	flex: 1;
	padding: 6px;
}

#page {
	min-height: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
	padding-left: 12px;
	overflow: visible;
	border-left: 2px solid #BBB;
}

#inspector {
    z-index: 1;
    top: 0;
    overflow-x: hidden;
	pointer-events: none;
	position: fixed;
	display: flex;
	align-items: top;
	justify-content: flex-end;
	width: 300px;
}

.inspector-hidden {
	right: -300px; /* 0 width - change this with JavaScript */
}

.inspector-visible {
	transition: 0.2s;
	right: 0
}

.inspector-content {
	pointer-events: all;
	max-width: 278px;
	background-color: #DDD;
	border: 1px solid #BBB;
	margin-right: 5px;
	padding: 3px;
	overflow: hidden;
	border-radius: 6px;
}

#top-spacer {
	min-height: 10px;
}

#bottom-spacer {
	min-height: 50px;
}

.element {
	overflow: visible;
	margin: 0;
	padding: 0;
}

.element-spacer {
	margin: 0;
	padding: 0;
	height: 0px;
}

.element-handle {
	margin: 0;
	padding: 1px;
	height: 10px;
}

.element-handle.selected {
	border: 1px solid #BBB;
	border-bottom: 0px;
	background-color: #DDD;
}

.element-content {
	margin: 0;
	padding: 1px;
}

.element-content.selected {
	background-color: white;
	margin: 0;
	padding: 0;
	border: 1px solid #BBB;
}

.page {
	display: flex;
}

.page-sidebar {
	margin-top: 0px;
	overflow: hidden;
}

.page-sidebar-line {
	border-left: 1px solid #BBB;
	height: 100%;
	margin-left: 11px;
}

.page-header {
	font-weight: bold;
	margin-top: 3px;
}

.page-header-rule {
	margin-top: 12px;
	max-width: 500px;
	border-top: 1px solid #BBB;
}

.page-body {
	flex: 1;
}

.info-content {
	padding: 5px;
}

.append-button {
	margin-top: 0px;
	margin-left: 5px;
	width: 50px;
	height: 14px;
	background-color: #EAEAEA;
	border: none;
}

.append-button-container {
	margin-top: 12px;
	width: 100px;
	overflow: hidden;
}

.append-button:hover {
	cursor: pointer;
	background-color: #DDD;
}

.append-button:active {
	background-color: #CCC;
}

.append-more-button {
	opacity: 0.1;
	position: relative;
	top: 2px;
	border: none;
	background-color: transparent;
}

.append-button-container:hover .append-more-button {
	opacity: 0.1;
}

.append-button-container:hover .append-more-button:hover {
	opacity: 0.25;
	cursor: pointer;
}

.append-button-container:hover .append-more-button:active {
	opacity: 0.4;
	cursor: pointer;
}

.append-more-menu {
	padding: 5px;
	vertical-align: middle;
}
