
html {
	overflow-y: scroll;
}

textarea {
	width: 100%;
	margin: 0px;
	box-sizing: border-box;
	vertical-align: top;
	background: transparent;
	font: inherit;
	border: 0;
}

button {
	outline: 0;
}

button:focus {
	outline:0;
}

img {
	display: block;
	max-width:100%;
	max-height:100%;
}

div {
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 2px 0;
}

html, body, #root {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgb(251, 252, 253);
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
}

#scene {
	min-height: 100%;
	display: flex;
	flex-direction: row;
}

#left-column {
	min-width: 50px;
}

#center-column {
	flex: 1;
}

#right-column {
	min-width: 55px;
}
