body, html {
	height: 100%;
	background-color: white;
}

div {
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}

#root {
	font-family: "Roboto Slab";
	font-size: 15px;
	height: 100%;
}

.title, header, h1, h2, h3, h4, h5, h6, button {
	font-family: "Roboto";
}

#app {
	min-height: 100%;
}

#app div {
	overflow: auto;
}

#toolbar {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0px;
	background-color: white;
	padding: 5px;
	font-family: 'Roboto';
	height: 40px;
}

span.script-text {
	font-family: "Roboto Mono";
	font-size: 14px;
	white-space: pre-wrap;
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
}

div.element.selected {
	background-color: black;
	color: white;
	cursor: grab;
}

div.selected div {
	border-color: white;
}

div.element-content {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 0px;
	cursor: initial;
}

div.element-content.leaf {
	margin-bottom: 8px;
}

div.drop-space.over {
	min-height: 25px;
	background-color: rgba(0, 0, 0, 0.3);
}

div.drop-space.out {
	height: 0px;
}

button {
}

button:focus { 
    outline: none; 
}

button::-moz-focus-inner {
	border: 0;
}
