#page {
	min-height: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
	padding-left: 10px;
	overflow: visible;
	border-left: 2px solid #BBB;
}

#page-elements {
}

#top-spacer {
	min-height: 10px;
}

#bottom-spacer {
	min-height: 250px;
}

.header-breadcrumb {
	background-color: white;
	border: 1px solid #DDD;
	padding: 5px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 6px;

	/* Miraculously discovered as fixing the breadcrumbs */
	/*max-width: calc(100% - 0.1px);*/
}

.append-button {
	display: inline-block;
	margin-top: 8px;
	margin-left: 5px;
	width: 50px;
	height: 14px;
	background-color: #EAEAEA;
	border: none;
	position: relative;
	top: 3px;
}

.append-button:hover {
	cursor: pointer;
	background-color: #DDD;
}

.append-button:active {
	background-color: #CCC;
}

.append-more-button {
	display: inline-block;
	opacity: 0.1;
	background-color: transparent;
	position: relative;
	top: 1px;
	margin-left: 10px;
}

.append-more-button:hover {
	opacity: 0.25;
	cursor: pointer;
}

.append-more-button:active {
	opacity: 0.4;
	cursor: pointer;
}

.append-more-menu {
	padding: 5px;
	vertical-align: middle;
}

.link-add-popover {
	padding: 7px;
}
