/*
#sidepanel-outer {
	height: 100%;
}

.sidepanel-outer-hidden {
	width: 50px;
	transition: 0.3s;
}

.sidepanel-outer-visible {
	width: 300px;
	transition: 0.3s;
}

#sidepanel-button {
	position: fixed;
    width:50px;
	height:50px;
	top: 50%;
	margin-top: -50px;
}

.sidepanel-button-hidden {
	left: 0px;
	transition: 0.3s;
}

.sidepanel-button-visible {
	left: 250px;
	transition: 0.3s;
}

#sidepanel-inner {
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	position: fixed;
	width: 250px;
	height: 100%;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.sidepanel-inner-hidden {
	left: -300px;
	transition: 0.3s;
}

.sidepanel-inner-visible {
	left: 0px;
	transition: 0.3s;
}

#sidepanel-content {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.sidepanel-tab-buttons {
	margin-left: 4px;
	margin-bottom: 10px;
}

.sidepanel-tab-buttons div {
	outline: 0;
}

.sidepanel-tab-buttons div:focus {
	outline:0;
}

.sidepanel-tab-content {
	border: 1px solid rgba(6, 26, 36, 0.2);
	background-color: #FFF;
	border-radius: 6px;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.clipboard-entry {	
	margin-left: 8px;
	margin-right: 8px;
}

.clipboard-entry-spacer {
	height: 9px;
	-webkit-transition: height 0.08s;
    transition: height 0.08s;
	transition-timing-function: linear;
}

.clipboard-entry-spacer.expanded {
	height: 25px;
	-webkit-transition: height 0.08s;
    transition: height 0.08s;
	transition-timing-function: linear;
}

.clipboard-entry-content {
	cursor: grab;
	overflow: hidden;
	background-image: linear-gradient(rgb(253, 253, 254), rgb(245, 248, 250));
	padding: 5px;
	border: 1px solid rgba(6, 26, 36, 0.2);
}

.clipboard-entry-content-preview {
	max-height: 160px;
	font-size: 0.8em;
	pointer-events: none;
}

.clipboard-entry:first-child .clipboard-entry-content {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.clipboard-entry:last-child .clipboard-entry-content {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.clipboard-append-area {
	margin: 8px;
	background-color: white;
	flex: 1;
	border-radius: 6px;
}

.clipboard-append-area.expanded {
	background-color: rgba(6, 26, 36, 0.05);
}

.clipboard-entry img {
	opacity: 0.9;
}*/