
#toolbar {
    z-index: 1;
    top: 0;
    overflow-x: hidden;
	pointer-events: none;
	position: fixed;
	display: flex;
	align-items: top;
	justify-content: flex-end;
	width: 300px;
}

.toolbar-hidden {
	right: -300px; /* 0 width - change this with JavaScript */
}

.toolbar-visible {
	transition: 0.15s;
	right: 0
}

.toolbar-content {
	pointer-events: all;
	max-width: 278px;
	background-color: #FFF;
	border: 1px solid #DDD;
	margin-right: 5px;
	padding: 5px;
	overflow: hidden;
	border-radius: 6px;
}

.info-content {
	padding: 8px;
}

