kernel/__pycache__/

# dependencies
browser/node_modules

# testing
browser/coverage

# production
browser/build

# misc
browser/.DS_Store
browser/.env.local
browser/.env.development.local
browser/.env.test.local
browser/.env.production.local

browser/npm-debug.log*
browser/yarn-debug.log*
browser/yarn-error.log*
kernel/elements/__pycache__/
.vscode/
host/__pycache__/
host/kernel/__pycache__/
host/kernel/core/__pycache__/
host/kernel/elements/__pycache__/
host/pyphantom/__pycache__/
host/filesystem/__pycache__/
node_modules/
browser/package-lock.json
*.sln
.vs/
*.njsproj
*.user
*.vcxproj
*.filters
*.pyproj
*.csproj
*.pfx
Window/obj/
Window/Properties/
