html, body, #root, #scene {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #F0F0F0;
}

#page {
	min-height: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: auto;
	background-color: #FCFCFC;
	border-left: 1px solid #BBB;
	border-right: 1px solid #BBB;
}

#top-spacer {
	min-height: 10px;
}

#bottom-spacer {
	min-height: 50px;
}

.element {
	overflow: auto;
	border: 2px solid blue;
	margin: 10px;
}

.selected-element {
	background-color: red;
}
